@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap"')
    
#bgc
    width: 100vw
    min-height: 100vh
    margin: 0
    padding: 0

.main
    width: 70vw
    background-color: #fff
    border-radius: 12px
    font-family: 'Montserrat', sans-serif
    margin-left: 50vw
    transform: translateX(-50%)
    margin-top: 10vh
    padding: 20px

.input
    margin: 10px 20px

input[type=button]
    background-color: #9AD042
    color: #fff
    border-radius: 6px
    border: none
    height: 60px
    min-width: 30%
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 110%
    cursor: pointer

input[type=text]
    background-color: #FFFFFF
    border: 1px solid #AFAFAF
    padding-left: 10px
    margin-bottom: 10px
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 110%
    box-sizing: border-box
    margin-right: 5%
    border-radius: 6px
    height: 60px
    min-width: 65%

@media (max-width: 510px)
    #bgc
        background-color: #fff
        top: 0
        margin-top: -10vh
    .main
        text-align: center
        width: 90vw

    input[type=text]
        width: 100%

    input[type=button]
        width: 100%
        